name: Build and deploy PHP app to Azure Web App - wteionlinepayrollandattendance

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Check if composer.json exists
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: 'WTEI/composer.json'

      - name: Run composer install if composer.json exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: |
          cd WTEI
          composer validate --no-check-publish
          composer install --prefer-dist --no-progress

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: WTEI   # <-- Deploy WTEI folder contents

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write # Required for requesting the JWT
      contents: read  # Required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: php-app
          path: WTEI   # <-- place artifact in WTEI

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D2D98902D7DE430D985F1BF8BC3BA872 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F6E7EA245AFD45889C9529AFB4EC9559 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1472712031BA456086F96D6C6C7C7583 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'wteionlinepayrollandattendance'
          slot-name: 'Production'
          package: WTEI   # <-- Deploy contents of WTEI as wwwroot
